.footer {
    background-color: rgb(207, 207, 207);
    height: 430px;
    border-top: 30px solid rgb(150, 150, 150);
    border-bottom: 30px solid rgb(150, 150, 150);
}

.bocformfooter {
    display: flex;
    padding-top: 50px;
}

#footer-img1 {
    width: 400px;
    height: 250px;
    margin-left: 60px;
}

.footer-icon-1 {
    display: flex;
    padding-bottom: 20px;
}

#footer-icon {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
    border-radius: 100%;
    background: #e91327;
}

#footer-write {
    float: left;
    background: transparent;
}

.footer-about {
    margin-left: 300px;
}

.iconlienhe {
    display: flex;
    gap: 45px;
}

#footer-lienhe {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
    border-radius: 100%;
    background: #979797;
    transition: 2s;
}

#footer-lienhe:hover {
    background: #fff;
    color: #000;
}