* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    background: cover;
}

.navbar {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    margin: 0px 80px;
    gap: 10px;
    padding: 0px 60px;
    width: 100%;
}

.lower-navbar > div > div {
    display: flex;
    float: right;
    margin: 0px 100px;
}


.drop a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 15px;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0px 10px;
}

#logonavbar {
    width: 230px;
    height: 130px;
    display: row;
}

.drop a:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-emphasis-color: #fff;
    border-radius: 0px 15px;
}

#user {
    padding: 0px 30px;
}
